<div class="first-div">
    <div class="login-section">
        <!-- Content for the third div -->
        <div class="login-container">
            <img src="../../../assets/Images/logo.jpg" alt="">
            <div class="form-floating mb-3 w-100">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">User Name</label>
              </div>
              <div class="form-floating w-100">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="login-footer">
                <p class="forget-password">Forget Password</p>
                <button class="btn login">Login</button>
              </div>
        </div>
    </div>
</div>

